@charset "utf-8";
body{
  font-family: 'Gaegu', cursive;
  background: url(../images/background.jpg);
  background-size: cover;
  max-width: 100%;
}

.ocu{
  background-color: rgba(0, 0, 0, 0.01);
}


/*header*/
.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  border-radius: 50%;
}

.title{
  font-size: 49px;
  color: rgb(249,28,191);
  text-align: center;
}

/*link*/
.linklist{
  text-align: center;
  position: relative;
}

.otherlink{
  margin-left: 20px;
}

.umassMath{
  border: none;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.00);
  padding: 0px 0px;
  font-size: 16px;
  position:absolute;
  font-family: 'Pangolin', cursive;
  text-shadow: 4px 4px 4px #FD0;
  color: red;
}

.mouseMove{
  background-color: #A1FFFFFF;
  zoom: 120%;
}

/*clock*/
.clock{
  position: absolute;
  top: 0px;
  right: 0px;
}