@charset "utf-8";
body{
  font-family: 'Gaegu', cursive;
  background: url(../images/background.jpg);
  background-size: cover;
  max-width: 100%;
}

/*header*/
.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  border-radius: 50%;
}

.cat{
  display: block;
  margin: 0 auto;
}

.title{
  font-size: 49px;
  color: rgb(249,28,191);
  text-align: center;
}

/*link*/
.linklist{
  margin:0 auto;
  text-align: center;
  font-size: 65px;
  color: rgb(249,28,191);
}

.mouseMove{
  background-color: #A1FFFFFF;
  zoom: 120%;
}

/*clock*/
.clock{
  position: absolute;
  top: 0px;
  right: 0px;
}